// OBJECT CONTAINER
// ================

.o-container {
  @include padding(0 4 0 4);
  margin-left: auto;
  margin-right: auto;
  max-width: $global-container-default;
}

// FLUID WIDTH
// ================
@if ($mod-container-width-fluid == true) {
  .o-container--fluid {
    max-width: initial;
    width: $global-container-fluid;
  }
}

// BLEED WIDTH
// ================
@if ($mod-container-width-bleed == true) {
  .o-container--bleed {
    @include padding(0);
  }
}

// SMALL WIDTH
// ================
@if ($mod-container-width-small == true) {
  .o-container--small {
    max-width: $global-container-small;
  }
}

// TINY WIDTH
// ================
@if ($mod-container-width-tiny == true) {
  .o-container--tiny {
    max-width: $global-container-tiny;
  }
}

// MICRO WIDTH
// ================
@if ($mod-container-width-micro == true) {
  .o-container--micro {
    max-width: $global-container-micro;
  }
}
