* {
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  min-height: 100%;
}

body {
  font-size: 100%;
  font-kerning: normal;
  background-image: url("../img/wallpaper.jpg");
  background-image: url("../img/wallpaper.webp");
  background-color: #252525;
  background-repeat: repeat-y;
  background-position: top center;
  background-attachment: fixed;
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  color: #fff;
}

@media only screen and (min-width: 1025px) {
  body {
    background-color: slategrey;
    background-attachment: unset;
    background-size: cover;
  }
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
