* {
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  min-height: 100%;
}

body {
  font-size: 100%;
  font-kerning: normal;
  background: slategrey;
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  color: #fff;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
