---
layout: default
---
<div class="c-intro">
  <div class="c-intro__title">
    UI<span>-</span>UX Engineer <span>&</span>
    </br>
    WordPress Developer
  </div>
</div>
<div class="c-blocklist">
  {% assign var currentYear = 0 %}
  {% for post in site.posts  %}
  {% capture year %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% if currentYear != year %}
  <div class="c-blocklist__head">
    {{ year }}
  </div>
  {% assign var currentYear = year %}
  {% endif %}
  <div class="c-blocklist__item">
    <div class="c-blocklist__link">
      <a href="{{ site.url }}{{ post.url }}">
        {{ post.title }}
      </a>
    </div>
    <div class="c-blocklist__tag">
      {{ post.date | date: '%B, %d' }}
    </div>
  </div>
  {% endfor %}
</div>
