<!DOCTYPE html>
<html dir="ltr" lang="id-ID">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if page.title %}{{ page.title }} &bull; {% endif %} {{ site.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <meta name="google-site-verification" content="1-U1YlLAsXy-vgLsg9psOgQI_LS0or_9fqak4yUEZ5g" />
    {% if page.url == "/404.html" %}
    <meta http-equiv="refresh" content="5; url=/">
    {% endif %}
    <link href="{{ site.url }}/favicon-32.png" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="{{ site.url }}/css/main.css">
  </head>
