<!DOCTYPE html>
<html dir="ltr" lang="id-ID">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if page.title %}{{ page.title }} - {% endif %} {{ site.title }} &bull; {{ site.tagline }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <meta name="google-site-verification" content="1-U1YlLAsXy-vgLsg9psOgQI_LS0or_9fqak4yUEZ5g" />
    {% if page.url == "/404.html" %}
    <meta http-equiv="refresh" content="5; url=/">
    {% endif %}
    <link href="{{ site.url }}/favicon-32.png" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="{{ site.url }}/css/main.css">
    <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url | replace:'index.html',''}}">

    <meta property="og:locale" content="id_ID" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ site.title }} &bull; {{ site.tagline }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="fb:app_id" content="899392273777724" />
    <meta property="og:image" content="{{ site.url }}/{{ site.image_share }}" />
    <meta property="og:image:secure_url" content="{{ site.url }}/{{ site.image_share }}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="{{ site.description }}" />
    <meta name="twitter:title" content="{{ site.title }} &bull; {{ site.tagline }}" />
    <meta name="twitter:site" content="@omipit" />
    <meta name="twitter:image" content="{{ site.url }}/{{ site.image_share }}" />
  </head>
