  <div class="c-header js-header">
    <div class="c-header__body">
      <div class="c-header__left">
        <div class="c-header__logo">
          <a href="{{ site.url }}">Yahya J. Aifit</a>
        </div>
      </div>
      <div class="c-header__right">
        <div class="c-hamburger">
          <div class="hamburger hamburger--squeeze js-drawer-trigger js-hamburger">
            <div class="hamburger-box">
              <div class="hamburger-inner"></div>
            </div>
          </div>
        </div>
        <ul class="c-blocklink c-blocklink--for-mainmenu">
          <li class="c-blocklink__item">
            <a class="c-blocklink__link" href="{{ site.url }}/projects">
              Projects
            </a>
          </li>
          <li class="c-blocklink__item">
            <a class="c-blocklink__link" href="{{ site.url }}/portfolio">
              Portfolio
            </a>
          </li>
          <li class="c-blocklink__item">
            <a class="c-blocklink__link" href="{{ site.url }}/about">
              About
            </a>
          </li>
          <li class="c-blocklink__item">
            <a class="c-blocklink__link" target="_blank" href="{{ site.url }}/feed.xml" title="RSS Feed">
              <div class="c-blocklink__icon icon-rss"></div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="c-drawer js-drawer-menu">
    <div class="c-drawer__content js-drawer-content">
      <div class="c-drawer__body">
        <ul class="c-blocklink c-blocklink--for-drawer">
          <li class="c-blocklink__item">
            <a class="c-blocklink__link" href="{{ site.url }}/projects">
              Projects
            </a>
          </li>
          <li class="c-blocklink__item">
            <a class="c-blocklink__link" href="{{ site.url }}/portfolio">
              Portfolio
            </a>
          </li>
          <li class="c-blocklink__item">
            <a class="c-blocklink__link" href="{{ site.url }}/about">
              About
            </a>
          </li>
          <li class="c-blocklink__item">
            <a class="c-blocklink__link" target="_blank" href="{{ site.url }}/feed.xml">
              <div class="c-blocklink__icon icon-rss"></div>
              RSS Feed
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
