$global-object-namespace:     "o-" !default;
$global-component-namespace:     "c-" !default;

$global-container-fluid: 100%;
$global-container-default: 1200px;
$global-container-small: 1000px;
$global-container-tiny: 720px;
$global-container-micro: 615px;

$global-header-height:   100px;
$global-border-radius:   4px;

// primary color
$global-color-white:        #fff;
$global-color-black:        #1d1a1a;
$global-color-light-grey:   #d3ceba;
$global-color-grey:         #9b9788;
$global-color-dark-grey:    #413b3b;
$global-color-brand:        #282324;
$global-color-khaki:        #dbd6c0;
$global-color-gold:         #c5b32c;
$global-color-code:         #209BBE;
$global-color-cite:         #70a370;

$global-transition:         all .15s linear;
$global-shadow:             0 4px 9px 0 rgba(153, 153, 153, .13), 0 0 4px 0 rgba(153, 153, 153, .04);
$global-shadow-sharp:       0 1px 2px 0 rgba(0, 0, 0, .08), 0 0 1px 0 #bbb;
$global-shadow-hover:       0 0 10px rgba(0, 0, 0, .2);

// WHITESPACE VARIABLE
// ================
$global-desktop-spacing-unit:     6px;
$global-desktop-spacing-levels:   10;
$global-utility-namespace:        "u-" !default;
$available-directions:            "top" "right" "bottom" "left";

// TYPOGRAPHY
// ================
$global-font-size:          14px;
$global-line-height:        24px;
$global-primary-font:       "IBM Plex Sans", Helvetica, Arial, sans-serif;
$global-secondary-font:     "IBM Plex Mono", Helvetica, Arial, sans-serif;
$global-tertiary-font:      "SFMono-Regular", Menlo, Monaco, "Courier New", monospace;

// Breakpoint
$breakpoint-phone: 544px;
$breakpoint-tablet: 960px;
$breakpoint-desktop: 1024px;

$global-available-line-height-ratio: (
  tiny:     1.43,
  small:    1.43,
  base:     1.5,
  fair:     1.5,
  medium:   1.4,
  large:    1.4,
  xlarge:   1.3,
  xxlarge:  1.25,
  hero:     1.25
);

$global-available-font-size: (
  tiny:     10px,
  small:    12px,
  base:     $global-font-size,
  fair:     16px,
  medium:   20px,
  large:    24px,
  xlarge:   28px,
  xxlarge:  32px,
  hero:     46px
);

$global-utilities-colors: (
  "white":        $global-color-white,
  "black":        $global-color-black,
  "light-grey":   $global-color-light-grey,
  "grey":         $global-color-grey,
  "dark-grey":    $global-color-dark-grey,
  "brand":        $global-color-brand,
  "khaki":        $global-color-khaki,
  "gold":         $global-color-gold,
  "code":         $global-color-code,
) !default;

$global-external-colors: (
  "facebook":   #3b5998,
  "twitter":    #55acee,
  "gplus":      #dc4e41,
  "pinterest":  #cb2027,
  "gmail":      #c63737,
  "yahoo":      #a207d6,
  "whatsapp":   #25d366,
  "line":       #01ba00
) !default;
