// BLOCKLINK
// html/scss/1-comp/_comp.blocklink.scss
// ================
$mod-for-mainmenu:     true !default;
$mod-for-drawer:       true !default;


// CONTENT
// html/scss/1-comp/_comp.content.scss
// ================
$mod-content-bottom-bleed: true !default;


// POST
// html/scss/1-comp/_comp.post.scss
// ================
$mod-post-size-default: true !default;
$mod-post-size-small:   true !default;
$mod-post-size-tiny:    true !default;


// AVATAR
// html/scss/1-comp/_comp.avatar.scss
// ================
$mod-avatar-large:     true !default;
$mod-avatar-small:     true !default;


// CONTAINER
// html/scss/1-object/_obj.container.scss
// ================
$mod-container-width-fluid: true !default;
$mod-container-width-small: true !default;
$mod-container-width-tiny:  true !default;
$mod-container-width-bleed: true !default;
$mod-container-width-micro: true !default;


// GRID
// html/scss/1-comp/_obj.grid.scss
// ================
$mod-grid-center: true !default;


// SOCIAL
// html/scss/1-comp/_comp.social.scss
// ================
$mod-social-sharer:    true !default;
$mod-social-with-text: true !default;


// ACCORDION
// html/scss/1-comp/_comp.accordion.scss
// ================
$mod-accordion-line:    true !default;
$mod-accordion-hollow:  true !default;


// BUTTON
// html/scss/1-comp/_comp.button.scss
// ================
$mod-btn-hollow: true !default;
$mod-btn-small:  true !default;
$mod-btn-block:  true !default;


// INPUT
// html/scss/1-comp/_comp.input.scss
// ================
$mod-with-icon: true !default;


// ELLIPSIS
// html/scss/1-comp/_comp.ellipsis.scss
// ================
$mod-ellipsis-line-height-small: true !default;
$mod-ellipsis-line-height-large: true !default;
$mod-ellipsis-line-count-2:      true !default;
