* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-shadow: 0 1px 1px rgba(35, 33, 24, 1);
}

::-moz-selection { /* Code for Firefox */
  color: $global-color-grey;
  background: $global-color-black;
}

::selection {
  color: $global-color-grey;
  background: $global-color-black;
}

html,
body {
  height: 100%;
  background-color: $global-color-brand;
}

body {
  font-size: 100%;
  color: $global-color-khaki;
  font-family: $global-primary-font;
  font-kerning: normal;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: $global-color-gold;
  transition: $global-transition;

  &:active,
  &:focus,
  &:hover {
    color: $global-color-white;
  }
}

select,
textarea,
input {
  @include txt-size("base");
  appearance: none;
  font-family: $global-primary-font;
  border: 1px solid $global-color-grey;
  padding: 8px;
  padding-left: 10px;
  padding-right: 20px;
  background-color: $global-color-white;
  width: 100%;
  color: $global-color-black;
  border-radius: $global-border-radius;
  transition: $global-transition;

  @include breakpoint(tablet-up) {
    @include txt-size("fair");
    padding: 10px;
  }

  &:active,
  &:focus {
    border-color: $global-color-black;
    box-shadow: $global-shadow-hover;
    outline: none;
  }
}

select {
  background-image: url("../img/icon/icon-chevron-down-select.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 20px auto;
}

video {
  width: 100% !important;
  height: auto !important;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

::-webkit-input-placeholder {
  @include txt-size("base");
  color: $global-color-grey;
  letter-spacing: .03em;

  @include breakpoint(tablet-up) {
    @include txt-size("fair");
  }
}

:-ms-input-placeholder {
  @include txt-size("base");
  color: $global-color-grey;
  letter-spacing: .03em;

  @include breakpoint(tablet-up) {
    @include txt-size("fair");
  }
}

table {
  @include margin(5, "bottom");
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: transparent;

  @include breakpoint(tablet-up) {
    @include margin(6, "bottom");
  }

  th {
    background: $global-color-black;
    text-align: initial;
    font-weight: normal;
    font-weight: bold;
  }

  th,
  td {
    @include padding(2);
    @include txt-size("fair");
    border: 1px solid $global-color-dark-grey;
    vertical-align: top;
    color: $global-color-grey;
  }
}


hr {
  @include margin(5, "top");
  @include margin(5, "bottom");
  border: 0;
  height: 1px;
  background: $global-color-dark-grey;

  @include breakpoint(tablet-up) {
    @include margin(6, "top");
    @include margin(6, "bottom");
  }
}

iframe {
  @include margin(5, "bottom");
  display: block;

  @include breakpoint(tablet-up) {
    @include margin(6, "bottom");
  }
}
