// THUMBNAIL
// ================

.c-thumb {

  .c-thumb__item {
    @include margin(4, "bottom");
    width: 100%;
  }

  .c-thumb__head {
    @include margin(2, "bottom");
    width: 100%;
    padding: 4px;
    background: $global-color-dark-grey;
  }

  .c-thumb__img {
    @include margin(0, "bottom");
  }

  .c-thumb__body {
    padding: 4px 4px 0;
  }

  .c-thumb__title {
    @include txt-size("fair");
    @include margin(0, "bottom");
    letter-spacing: .008em;
    color: $global-color-khaki;
  }

  .c-thumb__desc {
    @include txt-size("base");
    color: $global-color-grey;
  }

}
