// CONTENT
// ================

.c-content {
  @include padding(9, "top");
  @include padding(9, "bottom");
  position: relative;
}

// CONTENT BOTTOM BLEED
// ================
@if ($mod-content-bottom-bleed == true) {
  .c-content--bottom-bleed {
    padding-bottom: 0;

    @include breakpoint(tablet-up) {
      padding-bottom: 0;
    }
  }
}

