// SOCIAL MEDIA BUTTON
// ================

.c-social {
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint(tablet-up) {
    justify-content: flex-end;
  }

  &:last-child {
    @include margin(0, "right");
  }

  &__link {
    @include margin(2, "right");
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $global-transition;

    @include breakpoint(tablet-up) {
      @include margin(0 3 0 0);
    }

    &:last-child {
      @include margin(0, "right");
    }

    &:hover {
      opacity: .7;
    }
  }

  &__img {
    max-width: initial;
    width: 100%;
  }
}

// FOR ARTICLE SHARER
// ================
@if ($mod-social-sharer == true) {
  .c-social--sharer {
    @include margin(2, "left");

    .c-social__link {
      @include margin(2, "right");
      width: initial;
      height: 20px;

      &:last-child {
        @include margin(0, "right");
      }
    }

    .c-social__img {
      width: 20px;
    }
  }
}


// WITH TEXT
// ================
@if ($mod-social-with-text == true) {
  .c-social--with-text {
    @include margin(0, "left");

    .c-social__link {
      @include margin(0);
      width: initial;
      height: initial;
    }

    .c-social__img {
      width: 20px;
    }
  }
}
