// CONTENT
// ================

.c-content {
  @include padding(5, "top");
  @include padding(5, "bottom");
  position: relative;

  @include breakpoint(tablet-up) {
    @include padding(6, "top");
    @include padding(6, "bottom");
  }
}

// CONTENT BOTTOM BLEED
// ================
@if ($mod-content-bottom-bleed == true) {
  .c-content--bottom-bleed {
    padding-bottom: 0;

    @include breakpoint(tablet-up) {
      padding-bottom: 0;
    }
  }
}

