// FOOTER
// ================

.c-footer {
  background: $global-color-brand;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid $global-color-dark-grey;
  max-width: $global-container-tiny;

  &__body {
    @include padding(6 3 6 3);
    @include txt-size("medium");
    max-width: $global-container-tiny;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $global-secondary-font;
    color: $global-color-grey;

    a {
      @include margin(5, "right");

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
