//  BLOCKLIST
// ================

.c-blocklist {

  &__head {
    @include txt-size("medium");
    @include margin(2, "bottom");
    @include margin(5, "top");
    font-weight: 500;
    color: $global-color-khaki;
    text-transform: capitalize;
    font-family: $global-serif-font;
    letter-spacing: -.5px;

    &:first-child {
      @include margin(0, "top");
    }

    @include breakpoint(phone-up) {
      @include txt-size("large");
    }
  }

  &__item {
    width: 100%;
    @include margin(2.5, "bottom");

    &:last-child {
      @include margin(0, "bottom");
    }

    @include breakpoint(phone-up) {
      display: flex;
      align-items: flex-start;
    }
  }

  &__link {
    @extend .col-xs-12;
    @extend .col-sm-9;
    display: block;
    transition: $global-transition;
    font-size: 18px;
    line-height: 1.5;

    @include breakpoint(phone-up) {
      @include txt-size("medium");
    }
  }

  &__tag {
    @extend .col-xs-12;
    @extend .col-sm-3;
    @include txt-size("fair");
    @include margin(.3, "top");
    color: $global-color-grey;
    text-align: left;
    font-family: $global-serif-font;
    font-style: italic;

    @include breakpoint(phone-up) {
      @include txt-size("fair");
      text-align: right;
    }
  }

}
