// INTRO
// ================

.c-intro {

  &__title {
    letter-spacing: -.5px;
    font-size: 55px;
    margin-bottom: 50px;
    padding-left: 50px;
    font-family: $global-serif-font;
    font-weight: 500;
    border-left: 2px solid $global-color-gold;

    span {
      font-weight: 200;
      font-style: italic;
      font-family: $global-primary-font;
      color: $global-color-gold;
    }

  }

}
