// POST
// ================

.c-post {
  @include clearfix();
  width: 100%;
  margin: auto;

  &__head {
    @include margin(0 0 5 0);

    @include breakpoint(tablet-up) {
      @include margin(0 0 6 0);
    }
  }

  &__title {
    @include margin(0 0 2 0);
    @include txt-size("xlarge");
    letter-spacing: .01em;
    font-weight: bold;

    @include breakpoint(phone-up) {
      @include txt-size("xxlarge");
      line-height: 1.35;
    }

    @include breakpoint(tablet-up) {
      @include margin(0 0 2 0);
      @include txt-size("hero");
      line-height: 1.35;
    }
  }

  &__meta {
    @include txt-size("small");
    @include padding(0 0 5 0);
    color: $global-color-grey;
    display: flex;
    flex-wrap: wrap;
    font-family: $global-primary-font;
    text-transform: uppercase;
    border-bottom: 2px solid $global-color-dark-grey;

    @include breakpoint(phone-up) {
      @include padding(0 0 6 0);
      @include txt-size("base");
    }
  }

  &__meta-left {
    @extend .col-sm-6;
    @extend .col-xs-12;

    @include breakpoint(phone-only) {
      flex-basis: initial;
    }
  }

  &__meta-right {
    @extend .col-sm-6;
    @extend .col-xs-12;
    @include margin(2, "top");
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint(phone-up) {
      @include margin(0, "top");
      justify-content: flex-end;
    }

  }

  h1 {
    @include margin(0 0 2 0);
    @include txt-size("xlarge");
    font-family: $global-primary-font;
    font-weight: bold;
    color: $global-color-gold;

    @include breakpoint(tablet-up) {
      @include margin(0 0 3 0);
      @include txt-size("xxlarge");
    }
  }

  h2 {
    @include margin(0 0 2 0);
    @include txt-size("large");
    font-family: $global-primary-font;
    font-weight: bold;

    @include breakpoint(tablet-up) {
      @include margin(0 0 3 0);
      @include txt-size("xxlarge");
    }
  }

  h3,
  h4,
  h5,
  h6 {
    @include margin(0 0 2 0);;
    font-family: $global-primary-font;

    @include breakpoint(tablet-up) {
      @include margin(0 0 3 0);
    }
  }

  h3 {
    @include txt-size("medium");
    font-weight: bold;

    @include breakpoint(tablet-up) {
      @include txt-size("large");
    }
  }

  h4,
  h5,
  h6 {
    @include txt-size("fair");
    font-weight: normal;

    @include breakpoint(tablet-up) {
      @include txt-size("medium");
    }
  }

  ul,
  ol,
  p {
    @include txt-size("fair");
    @include margin(0, "top");
    @include margin(5, "bottom");
    color: $global-color-grey;

    @include breakpoint(phone-up) {
      @include txt-size("medium");
    }

    @include breakpoint(tablet-up) {
      @include txt-size("medium");
      @include margin(6, "bottom");
    }
  }

  ul,
  ol {
    @include margin(3, "left");
    padding-left: 0;

    @include breakpoint(tablet-up) {
      padding-left: 0;
    }

    li {
      list-style: decimal;
    }

    ol,
    ul {
      @include margin(0 0 0 3);
      padding-left: initial;
      li {
        list-style: lower-alpha;
      }
    }
  }

  ul {
    li {
      list-style: disc;
    }
  }

  a {
    display: inline-block;
    transition: $global-transition;
    color: $global-color-gold;

    &:hover {
      color: $global-color-white;
    }
  }

  b,
  strong {
    font-weight: 600;
  }

  p {
    @include clearfix();
    position: relative;

    img {
      width: initial;
      max-width: 100%;
      float: left;
    }

    em {
      @include txt-size("small");
      @include padding(1, "top");
      display: block;
      position: static;
      clear: both;

      @include breakpoint(desktop-up) {
        @include padding(0, "top");
        @include padding(2, "left");
        position: absolute;
        top: 0;
        width: 150px;
        right: -150px;
        text-decoration: none;
      }
    }
  }

  img {
    padding: 2px;
    display: block;
    width: 100%;
    height: auto;
    opacity: .75;
    transition: $global-transition;
    background: $global-color-dark-grey;

    @include breakpoint(tablet-up) {
      padding: 4px;
    }

    &:hover {
      opacity: 1;
    }
  }

  pre,
  code {
    direction: ltr;
    text-align: left;
    font-style: normal;
  }

  code {
    @include txt-size("base");
    color: $global-color-code;
    background: none !important;
    padding: 0 !important;
    font-family: $global-secondary-font;

    @include breakpoint(tablet-up) {
      @include txt-size("fair");
    }
  }

  pre {
    @include padding(4, "left");
    @include padding(2, "top");
    @include padding(2, "bottom");
    @include padding(4, "right");
    @include margin(5, "bottom");
    border-left: 4px solid $global-color-dark-grey;
    background: transparent;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    code {
      @include txt-size("small");
      padding: 0;
      background: none;
      border: 0;
      color: $global-color-khaki;
    }

    @include breakpoint(phone-up) {
      @include txt-size("base");
      line-height: 1.3;
    }

    @include breakpoint(tablet-up) {
      @include scrollbar();
      @include margin(6, "bottom");
    }
  }

  blockquote {
    @include padding(5, "bottom");
    margin: 0;

    p {
      @include txt-size("base");
      @include padding(4, "left");
      @include padding(2, "top");
      @include padding(2, "bottom");
      @include padding(4, "right");
      @include margin(0, "bottom");
      margin-left: 0;
      border-left: 4px solid $global-color-dark-grey;
      background: transparent;
      color: $global-color-khaki;
      font-style: italic;

      @include breakpoint(phone-up) {
        @include txt-size("fair");
      }
    }

    @include breakpoint(tablet-up) {
      @include padding(6, "bottom");
    }
  }
}


// FOR CATEGORY
// ================
@if ($mod-post-category == true) {
  .c-post--category {
    .c-post__title {
      text-transform: capitalize;
    }
    .c-post__meta {
      @include txt-size("fair");
      text-transform: initial;

      @include breakpoint(tablet-up) {
        @include txt-size("medium");
      }
    }
  }
}

// FOR PAGE
// ================
@if ($mod-post-page == true) {
  .c-post--page {
    .c-post__title {
      text-transform: initial;
    }
    .c-post__meta {
      @include txt-size("fair");
      text-transform: initial;

      @include breakpoint(tablet-up) {
        @include txt-size("medium");
      }
    }
  }
}
