//  BLOCKLIST
// ================

.c-blocklist {

  &__head {
    @include txt-size("large");
    @include margin(2, "bottom");
    @include margin(5, "top");
    font-weight: bold;
    color: $global-color-grey;
    text-transform: capitalize;

    &:first-child {
      @include margin(0, "top");
    }

    @include breakpoint(phone-up) {
      @include txt-size("xlarge");
    }

    @include breakpoint(tablet-up) {
      @include txt-size("xxlarge");
    }
  }

  &__item {
    display: block;
    width: 100%;
    @include margin(3, "bottom");

    &:last-child {
      @include margin(0, "bottom");
    }

    @include breakpoint(phone-up) {
      @include margin(2, "bottom");
      display: flex;
      align-items: flex-start;
    }
  }

  &__link {
    @include txt-size("fair");
    @extend .col-xs-12;
    @extend .col-sm-9;
    display: block;

    @include breakpoint(phone-up) {
      @include txt-size("medium");
    }
  }

  &__tag {
    @extend .col-xs-12;
    @extend .col-sm-3;
    @include txt-size("base");
    @include margin(.5, "top");
    color: $global-color-grey;
    text-align: left;

    @include breakpoint(phone-up) {
      @include txt-size("fair");
      text-align: right;
    }
  }

}
