// CIRCLE
// ================

.c-circle {
  // text-indent: -9999px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: fixed;
  bottom: 37px;
  right: 18px;
  cursor: pointer;
  z-index: 1;
  border: 1px solid $global-color-dark-grey;
  background: $global-color-dark-grey;
  background-size: 13px auto;
  transition: $global-transition;
  visibility: hidden;
  opacity: 0;

  @include breakpoint(small-up) {
    bottom: 180px;
    right: 20px;
  }

  @include breakpoint(tablet-up) {
    bottom: 70px;
    right: 50px;
  }

  &__text {
    @include txt-size("small");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
    letter-spacing: .008em;
  }

  &:hover {
    border-color: $global-color-grey;
  }

  &.is-active {
    visibility: visible;
    opacity: 1;
  }
}
