// TABLE
// ================

// table inside markdown, use html tag instead
// example markup:
// <div class="c-table">
// <table>
//   <thead>
//     <tr>
//       <th>Column</th>
//       <th>Column</th>
//     </tr>
//   </thead>
//   <tbody>
//     <tr>
//       <td>Row</td>
//       <td>Row</td>
//   </tbody>
// </table>
// </div>

.c-table {
  @include margin(5, "bottom");
  overflow-x: auto;
  display: block;

  table {
    @include margin(0, "bottom");
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: transparent;

    th {
      background: $global-color-black;
      text-align: initial;
      font-weight: normal;
      font-weight: bold;
    }

    th,
    td {
      @include padding(2);
      @include txt-size("fair");
      border: 1px solid $global-color-dark-grey;
      vertical-align: top;
      color: $global-color-grey;
    }
  }
}
