// BUTTON
// ================

input[type="button"],
.c-button {
  @include txt-size("fair");
  padding: 12px;
  width: initial;
  border: 0;
  display: inline-block;
  background: $global-color-brand;
  border-radius: $global-border-radius;
  transition: $global-transition;
  color: $global-color-white !important;
  border-bottom: 0 !important;
  cursor: pointer;
  letter-spacing: .02em;
  text-align: center;
  line-height: 1 !important;

  &:hover {
    background: $global-color-red-dark;
    color: $global-color-white !important;
  }
}


// SMALL SIZE
// ================
@if ($mod-btn-small == true) {
  .c-button--small {
    @include txt-size("base");

    @include breakpoint(tablet-up) {
      @include txt-size("base");
      padding: 11px;
    }
  }
}


// FULL WIDTH / BLOCK
// ================
@if ($mod-btn-block == true) {
  .c-button--block {
    width: 100%;
  }
}


// HOLLOW STYLE
// ================
@if ($mod-btn-hollow == true) {
  .c-button--hollow {
    background: $global-color-white;
    color: $global-color-black !important;
  }
}
