// POST
// ================

.c-post {
  @include clearfix();
  width: 100%;
  margin: auto;

  &__head {
    @include margin(0 0 3 0);

    @include breakpoint(tablet-up) {
      @include margin(0 0 6 0);
    }
  }

  &__title {
    @include margin(0 0 2 0);
    @include txt-size("xxlarge");
    letter-spacing: .01em;
    font-weight: bold;
    line-height: 1.35;

    @include breakpoint(tablet-up) {
      @include margin(0 0 2 0);
      @include txt-size("hero");
      line-height: 1.35;
    }
  }

  &__meta {
    @include txt-size("small");
    color: $global-color-gold;
    display: flex;
    flex-wrap: wrap;
    font-family: $global-secondary-font;
    text-transform: uppercase;

    @include breakpoint(tablet-up) {
      @include txt-size("base");
    }
  }

  &__meta-left {
    @extend .col-sm-6;
    @extend .col-xs-12;

    @include breakpoint(phone-only) {
      flex-basis: initial;
    }
  }

  &__meta-right {
    @extend .col-sm-6;
    @extend .col-xs-12;
    @include margin(2, "top");
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint(phone-up) {
      @include margin(0, "top");
      justify-content: flex-end;
    }

  }

  h1 {
    @include margin(0 0 2 0);
    @include txt-size("xlarge");
    font-family: $global-secondary-font;
    font-weight: bold;
    color: $global-color-gold;

    @include breakpoint(tablet-up) {
      @include margin(0 0 3 0);
      @include txt-size("xxlarge");
    }
  }

  h2 {
    @include margin(0 0 2 0);
    @include txt-size("large");
    font-family: $global-secondary-font;
    font-weight: bold;

    @include breakpoint(tablet-up) {
      @include margin(0 0 3 0);
      @include txt-size("xxlarge");
    }
  }

  h3,
  h4,
  h5,
  h6 {
    @include margin(0 0 2 0);;
    font-family: $global-secondary-font;

    @include breakpoint(tablet-up) {
      @include margin(0 0 3 0);
    }
  }

  h3 {
    @include txt-size("medium");
    font-weight: bold;

    @include breakpoint(tablet-up) {
      @include txt-size("large");
    }
  }

  h4,
  h5,
  h6 {
    @include txt-size("fair");
    font-weight: normal;

    @include breakpoint(tablet-up) {
      @include txt-size("medium");
    }
  }

  ul,
  ol,
  p {
    @include txt-size("fair");
    @include margin(0, "top");
    @include margin(5, "bottom");
    letter-spacing: .008em;
    color: $global-color-grey;

    @include breakpoint(tablet-up) {
      @include txt-size("medium");
    }
  }

  ul,
  ol {
    @include margin(3, "left");
    padding-left: 0;

    @include breakpoint(tablet-up) {
      padding-left: 0;
    }

    li {
      list-style: decimal;
    }

    ol,
    ul {
      @include margin(0 0 0 3);
      padding-left: initial;
      li {
        list-style: lower-alpha;
      }
    }
  }

  ul {
    li {
      list-style: square;
    }
  }

  a {
    display: inline-block;
    transition: $global-transition;
    color: $global-color-gold;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
      color: $global-color-khaki;
    }
  }

  b,
  strong {
    font-weight: 600;
  }

  p {
    @include clearfix();
    position: relative;

    img {
      width: initial;
      max-width: 100%;
      float: left;
    }

    em {
      @include txt-size("base");
      @include padding(2, "top");
      display: block;
      position: static;
      clear: both;
      text-decoration: underline;

      @include breakpoint(desktop-up) {
        @include padding(0, "top");
        @include padding(3, "left");
        position: absolute;
        top: 0;
        width: 150px;
        right: -150px;
        text-decoration: none;
      }
    }
  }

  img {
    padding: 1px;
    display: block;
    width: 100%;
    height: auto;
    opacity: .75;
    transition: $global-transition;
    background: $global-color-dark-grey;

    &:hover {
      opacity: 1;
    }
  }

  pre,
  code {
    direction: ltr;
    text-align: left;
    font-style: normal;
  }

  code {
    @include txt-size("base");
    color: $global-color-code;
    background: none !important;
    padding: 0 !important;

    @include breakpoint(tablet-up) {
      @include txt-size("fair");
    }
  }

  pre {
    @include padding(4, "left");
    @include padding(2, "top");
    @include padding(2, "bottom");
    @include padding(4, "right");
    @include margin(5, "bottom");
    border-left: 4px solid $global-color-dark-grey;
    background: transparent;
    overflow: auto;

    code {
      padding: 0;
      background: none;
      border: 0;
      color: $global-color-khaki;
    }
  }

  blockquote {
    @include padding(5, "bottom");
    margin: 0;

    p {
      @include txt-size("fair");
      @include padding(4, "left");
      @include padding(2, "top");
      @include padding(2, "bottom");
      @include padding(4, "right");
      @include margin(0, "bottom");
      margin-left: 0;
      color: $global-color-khaki;
      border-left: 4px solid $global-color-dark-grey;
      background: transparent;
      letter-spacing: .008em;
      line-height: 1.6;
      font-style: italic;

      @include breakpoint(tablet-up) {
        @include txt-size("medium");
      }
    }
  }
}
