//  BLOCKLINK
// ================

.c-blocklink {
  @include margin(0);
  display: flex;
  align-items: center;


  &__item {
    @include margin(0 3);
    list-style: none;

    &:last-child {
      margin-right: 0;
    }

    &.is-active {
      .c-blocklink__link {
        color: $global-color-gold;
      }
    }
  }

  &__link {
    @include txt-size("medium");
    color: $global-color-grey;
    display: block;
    transition: $global-transition;
    font-family: $global-primary-font;

    &:hover {
      color: $global-color-white;
    }

    .c-blocklink__icon {
      color: $global-color-code;
    }

    &:hover {
      .c-blocklink__icon {
        color: $global-color-white;
      }
    }
  }

  &__icon {
    transition: $global-transition;

    &:before {
      @include txt-size("medium");
      padding-top: 3px;
      line-height: 1;
      display: block;
    }
  }

}

// FOR MAINMENU
// ================
@if ($mod-for-mainmenu == true) {
  .c-blocklink--for-mainmenu {
    display: none;

    @include breakpoint(tablet-up) {
      display: flex;
    }
  }
}


// FOR DRAWER
// ================
@if ($mod-for-drawer == true) {
  .c-blocklink--for-drawer {
    display: initial;
    position: relative;

    .c-blocklink__item {
      @include txt-size("base");
      margin: 0;
      flex: 1 0 auto;
      border-bottom: 1px solid $global-color-dark-grey;
    }

    .c-blocklink__link {
      @include padding(3 0 3 0);
      white-space: nowrap;
      display: flex;
      align-items: center;
    }

    .c-blocklink__icon {
      @include padding(2, "right");
    }
  }
}
