// UTILITIES WIDTH
// ================

$enable-column-width:       7, 12 !default;
$enable-static-width:       200, 300, 400, 500, 600 !default;

.u-width-auto {
  width: auto !important;
}

.u-width-1 {
  width: 100% !important;
}

.u-full-inside {

  @include breakpoint(desktop-up) {
    @include padding(0 4 0 2);
    width: 100vw;
    position: relative;
    left: 52%;
    transform: translateX(-50%);
  }
}

.u-max-width-reset {
  max-width: initial !important;
}

@each $section in $enable-column-width {
  @for $width from 1 through $section - 1 {
    .u-width-#{$width}of#{$section} {
      width: percentage($width / $section) !important;
    }
  }
}

@each $width in $enable-static-width {
  .u-width--#{$width} {
    width: #{$width}px !important;
  }
}
