---
layout: archive
---
<div class="c-post c-post--category">
  <div class="c-post__head">
    <div class="c-post__title">
      {{page.category_name}}
    </div>
    <div class="c-post__meta">
      Semua tulisan dengan kategori {{page.category_name}}.
    </div>
  </div>
  <div class="c-blocklist">
    {% if site.categories[page.category_name] %}
    {% for post in site.categories[page.category_name] %}
    <div class="c-blocklist__item">
      <div class="c-blocklist__link">
        <a href="{{ site.url }}{{ post.url }}">
          {{ post.title }}
        </a>
      </div>
      <div class="c-blocklist__tag">
        {{ post.date | date: '%B %d, %Y' }}
      </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No posts for this category. If you have something in mind, check <a href="/write">Write For Us</a> page.</p>
    {% endif %}
  </div>
</div>
