<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="c-wrapper" id="wrapper">
      <div class="c-header js-header">
        <div class="c-header__body">
          <div class="c-header__left">
            <div class="c-header__logo">
              <a href="{{ site.url }}">YJA</a>
            </div>
          </div>
          <div class="c-header__right">
            <div class="c-hamburger">
              <div class="hamburger hamburger--squeeze js-drawer-trigger js-hamburger">
                <div class="hamburger-box">
                  <div class="hamburger-inner"></div>
                </div>
              </div>
            </div>
            <ul class="c-blocklink c-blocklink--for-mainmenu">
              <li class="c-blocklink__item is-active"><a class="c-blocklink__link" href="#">/home</a></li>
              <li class="c-blocklink__item"><a class="c-blocklink__link" href="#">/about</a></li>
              <li class="c-blocklink__item"><a class="c-blocklink__link" href="#">/past</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="c-drawer js-drawer-menu">
        <div class="c-drawer__content js-drawer-content">
          <div class="c-drawer__body">
            <div class="c-blocklink c-blocklink--for-drawer">
              <li class="c-blocklink__item is-active"><a class="c-blocklink__link" href="#">/home</a></li>
              <li class="c-blocklink__item"><a class="c-blocklink__link" href="#">/about</a></li>
              <li class="c-blocklink__item"><a class="c-blocklink__link" href="#">/past</a></li>
            </div>
          </div>
        </div>
      </div>
      <div class="o-container o-container--tiny o-container--bleed js-content">
        <div class="c-content">
          <div class="o-container">
            <div class="c-post">
              {{ content }}
            </div>
        </div>
      </div>
    </div>
    </div>
    {% include footer.html %}
  </body>
</html>

